{% extends "control_productos/base.html" %}
{% block contenido %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <h2>Crear Producto</h2>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
          <label for="{{ form.marca.id_for_label }}" class="form-label">Marca:</label>
          {{ form.marca }}
        </div>
        <div class="mb-3">
          <label for="{{ form.diseno.id_for_label }}" class="form-label">Diseño:</label>
          {{ form.diseno }}
        </div>
        <div class="mb-3">
          <label for="{{ form.empaque.id_for_label }}" class="form-label">Empaque:</label>
          {{ form.empaque }}
        </div>
        <div class="mb-3">
          <label for="{{ form.categoria.id_for_label }}" class="form-label">Categoría:</label>
          {{ form.categoria }}
        </div>
        <div class="mb-3">
          <label for="{{ form.genero.id_for_label }}" class="form-label">Género:</label>
          {{ form.genero }}
        </div>
        <div class="mb-3">
          <label for="{{ form.precio_costo.id_for_label }}" class="form-label">Precio Costo:</label>
          {{ form.precio_costo }}
        </div>
        <div class="mb-3">
          <label for="{{ form.imagenProducto.id_for_label }}" class="form-label">Imagen del Producto:</label>
          {{ form.imagenProducto }}
        </div>
        <button type="submit" class="btn btn-primary">
          <i class="bi bi-save"></i> Guardar
        </button>
      </form>
      <br>
      <a href="{% url 'lista_producto' %}" class="btn" style="background-color: pink;">
        <i class="bi bi-book"></i> Volver a la lista
      </a>      
    </div>
  </div>
</div>
{% endblock contenido %}

